@font-face {
    font-family: heebo;
    src: url("assets/fonts/Heebo-VariableFont_wght.ttf");
}

html {
    height: 100%;
}

.body {
    margin: 0;
    direction: rtl;
    font-size: 5vmin;
    font-family: "heebo";
    background: linear-gradient(45deg, #3f66a9, pink);
}

/* about */
.about-icon {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 10vw;
    height: auto;
}

.exit {
    width: 10%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.till-icon {
    width: 11vw;
    height: auto;
    position: absolute;
    left: 81%;
    top: 6%;
}

.about-title {
    margin-top: 0;
    margin-bottom: 2vh;
    font-size: 1em;
}

.about-text {
    font-size: 0.6em;
    margin: 2vh auto;
}

#about {
    top: 45%;
    padding-bottom: 3vh;
    display: none;
}

/* open screen */

/* Dropdown */
/* add later */

/* main-page */
#main-page {
    display: none;
}

.main-title {
    text-align: center;
    font-size: 2.5em;
    margin-top: 11vh;
    /* position: absolute;
    top: 1vh; */
}

.tool-container {
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    position: absolute;
    top: 23vh;
    left: 50%;
    transform: translateX(-50%);
}

.tool-pic {
    width: auto;
    height: 16vh;
    margin: 2vw 2vh;
}

/* questions */
.black-cover {
    background-color: rgba(0, 0, 0, 0.595);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: none;
}

.multipleQuestionContainer {
    box-sizing: border-box;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: fit-content;
    text-align: center;
    background-color: antiquewhite;
    padding: 3.5vh 5vw 5vh 5vw;
    border-radius: 10%;
    font-size: 1.7em;
    /* display: none; */
    z-index: 1;
}

#multipleQuestionContainer {
    display: none;
}

.ans {
    background-color: rgb(250, 210, 157);
    border-radius: 0.36em;
    width: 80%;
    margin: 2vh auto;
}

/* Answers Container */
.ansContainer {
    border-collapse: collapse;
    align-content: space-between;
    
}

.curr-tool-pic {
    width: 65%;
    height: auto;
    border-radius: 0.3em;
}

.title {
    margin: 0vh auto 1vh;
}

.text {
    font-size: 0.65em;
    margin: 0;
}

.btn {
    box-sizing: border-box;
    padding: 1vh 0.5vw;
    margin-top: 2vh;
    width: 70%;
    font-size: 0.75em;
    border-radius: 0.3em;
    /* border: solid black 1px; */
    border: none;
    background-color: rgb(250, 210, 157)
}
